.banner {
  background: url('babri.png')
    center center;

  height: 120vh;
  position: relative;
}

.banner__info {
  color: #0f0802;
  height: 133px;
  padding-top: 20vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 100%;
  opacity: 0;
  background: linear-gradient(to top, rgba(197, 197, 197, 0.404), transparent);
}
.banner__info:hover {
  opacity: 1;
}

.banner__search {
  display: flex;
  flex-direction: column;
}

.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #C3F7EB !important;
}

.banner__info > button {
  background-color: #C3F7EB;
  color: #323846;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}

.banner__info > button:hover {
  background-color: #323846;
  color: #C3F7EB;
}

.banner__info > h5 {
  margin-top: 5px;
}
